body {
    font-family: 'Merienda';
}

section {
    height: 100vh;
    width: 100vw;  
}

.landingpage {
    background: #bbff99;
}

.landingnav {
    border-bottom:1px solid rgba(0, 0, 0, .3);
    width:100vw;
    height:10vh;
    background: #660033;
    line-height:9vh;
}


.logins {
    float:right;
    margin:2%;  
}

.logins a {
    color:white;  
    text-decoration: none; 
}
.logins a:hover{
    color: pink;
}
.welcome {
    width:100vw;
    height:90vh;
    text-align:center;
    justify-content: center;  
}

.welcome h1 {
    width:100vw;
}
.intro {
    display:flex;
}
.welcome p {
    height:20vh;
    width:43vw;
    justify-content:center;
    text-align: left;
    padding:5%;
    padding-top:10%;
    margin:1%;
    background:#ccffb3;
    border:2px solid #aaff80;
    border-radius:20%;
    color:#660033;
    
}



/* Sign In Page */

.signinpage {
    background-color:#660033; 
    
}
.signin {
    justify-content:center;
    margin-top:0;
    padding:5%;
}

 .signinform {
    background:#bbff99;
    width:50vw;
    height:60vh;
    margin: auto;
    padding:2%;
    justify-content:center;
    text-align:center;
    box-shadow: 1px 1px 1px black;
    
 }
    

.signinform h2, {
    font-size:2em;
}
.signinform h6 {
    font-size:1em;
}
.signinform label, input {
    font-size: 1em
}

/* Sign Up Page */

.signuppage {
    background-color:#660033; 
    
}
.signup {
    
    margin-top:0;
    padding:5%;
}

 .signupform {
    background:#bbff99;
    width:60vw;
    height:70vh;
    margin: auto;
    padding:3%;
    box-shadow: 1px 1px 1px black;
    display:block;
    
 }
    

.signupform h2 {
    justify-content:center;
    text-align:center;
    font-size: 1.5em;
}
.signupform h6 {
    justify-content:center;
    text-align:center;
    font-size:.8em;
}
.signupform label {
    width:100%;
    font-size: 1em;
    
}

.signupform input {
    width:100%;
    font-size:1.2em;
}

.signupform button {
width:25%;
}


/* DashBoard  */

.userdash {
    background: #bbff99;
    justify-content: center;
    text-align:center;
    color:#660033;
    margin-top:0;
}
.dashwelcome {
    padding: 2%;
}
.boxesnav {
    display:flex;
    justify-content: center;
    text-align:center;  
}


.navbox {
    height: 25vh;
    width: 40vw;
    margin:2%;
    color:white;
    background-color: #660033;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25vh;
    border:1px solid black;
    border-radius:7px;
}

.navbox a {
    color: white;
}

.viewrecipes {
    background-color:#660033;
    margin-top:0;
}

.viewrecipes i {
color:pink;
font-size:2em;
margin:2%;

}

.dashnav {
    width:100vw;
    height:8vh;
    background:#99004d;
    display:flex;
    color:pink;
}

.dashnav .nav{
    width:50%;
    
}
.recipecontainer {
    padding:2%;
    justify-content:center;
    text-align:center;
    display:flex;
}

.recipeitem {
    height:15vh;
    width:50vw;
    background-color:#bbff99;
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    border-radius:5px;
}
.loadmore {
    padding:2%;
    margin-top:2%;
    background-color:#bf40bf;
}

.backto {
    height:5vh;
    border-radius:7px;
    background-color: pink;
}
.recipe {
    background: #bbff99;
    margin-top: 0;

}
.recipeview h2{
  justify-content:center;
  text-align:center;  
}
.recipe-recipeview {
    padding:2%;
    
}

/* recipe form */
.recipeformadd {
    display:flex;
    background-color:#660033;
}
.add-recipe-form {
    height:75vh;
    width:75vw;
    padding:5%;
    margin:auto;
    background-color:#bbff99;
    color:#660033;
    
    
}

.add-recipe-form h2 {
    text-align:center;
}
.add-recipe-form input {
    width:50%;
    
}
.add-recipe-form input:placeholder-shown {
    color:grey;
}
.add-recipe-form textarea{
    width:75%;
    
}