body {
    background-color:#f5f5f0;
}

.landingpage {
    background-color: #f5f5f0;
}

.landingnav {
    border-bottom:1px solid rgba(0, 0, 0, .3);
    width:100vw;
    height:10vh;
    background: #660033;
    line-height:6vh;
    display:flex;
    color:whitesmoke;
}

.landingnav h1 {
    font-family: 'Merienda';
    padding-left:2%;
    width:70vw;
}

.logins {
    float:right;
    justify-content:right;
    text-align:right;
    position:relative;
    padding-right:2%;
    margin-top:2%;
    margin-right:2%;
    line-height:10vh;
    width:30vw;
}

.logins a {
    padding:2%;
    color:whitesmoke;  
    text-decoration: none; 
}
.logins a:hover{
    color: pink;
}
.welcome {
    width:100vw;
    height:90vh;
    text-align:center;
    justify-content: center;  
}

.welcome h1 {
    font-family: 'Merienda';
    width:100vw;
}

.intro {
    display:flex;
}
.welcome p {
    height:20vh;
    width:43vw;
    justify-content:center;
    text-align: left;
    padding:5%;
    padding-top:10%;
    margin:1%;
    border-radius:8%;
    color:#660033;
    border:1px solid rgba(0, 0, 0, .1);
}

.welcome p:hover {
    background:#ccffb3;
    border:2px solid #aaff80;
}


/* Sign In Page */

.signin {
    justify-content:center;
    margin-top:0;
    padding:5%;
}

 .signinform {
    background:#bbff99;
    width:50vw;
    height:60vh;
    margin: auto;
    padding:3%;
    justify-content:center;
    text-align:center;
    border-radius:5%;
    box-shadow: 1px 1px 1px #660033;
    
 }
    
.signinform h2, {
    font-size:2em;
}

.signinform h6 {
    font-size:.8em;
}

.signinform input {
    font-size: 1em
}

.signinform button {
    margin-top:2%;
}


/* Sign Up Page */

.signup {
    margin-top:0;
    padding:5%;
}

 .signupform {
    background:#bbff99;
    width:60vw;
    height:70vh;
    margin: auto;
    padding:3%;
    border-radius:5%;
    box-shadow: 1px 1px 1px #660033;
    display:block;
    
 }
    

.signupform h2 {
    justify-content:center;
    text-align:center;
    font-size: 1.5em;
}
.signupform h6 {
    justify-content:center;
    text-align:center;
    font-size:.8em;
}
.signupform label {
    width:100%;
    font-size: 1em;
    
}

.signupform input {
    width:100%;
    font-size:1.2em;
}

.signupform button {
width:25%;
margin-top:2%;
justify-content:center;
border-radius:4%;
}


/* DashBoard  */

.userdash {
    justify-content: center;
    text-align:center;
    color:#660033;
    margin-top:0;
}
.dashwelcome {
    font-family: 'Merienda';
    padding: 2%;
}
.boxesnav {
    display:flex;
    justify-content: center;
    text-align:center;  
}


.navbox {
    height: 25vh;
    width: 40vw;
    margin:2%;
    color:white;
    background-color: #660033;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25vh;
    border:1px solid black;
    border-radius:7px;
}

.navbox:hover{
    background-color:#003300;
}

.navbox a {
    color: white;
}

/* logout */

.logout_container {
    font-family: 'Merienda';
    text-align:center;
    justify-content:center;
    color:#660033;
}

/* All Recipes  */

.dashnav {
    width:100vw;
    height:10vh;
    background:#660033;
    display:flex;
    position:fixed;
}

.dashnav h1 {
    width:60vw;
    font-family: 'Merienda';
    color:whitesmoke;
    padding-left:2%;

}

.dashnav .nav{
    width:20vw;
    line-height:10vh;
    justify-content:right;
    text-align:right;
    position:relative;
    padding-right:2%;
    margin-top:2%;
    margin-right:2%;
    line-height:10vh;  
}

.nav a {
    color:whitesmoke;
}

.nav a:hover {
    color:pink;
}

.recipecontainer {
    padding:5%;
    justify-content:center;
    text-align:center;
    display:flex;
}

.recipeitem {
    margin-top:15%;
    height:15vh;
    width:50vw;
    background-color:#bbff99;
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    border-radius:8%;
}

.allrecipes {
    margin-top:10%;
    font-family: 'Merienda';
}
.loadmore {
    padding:2%;
    margin-top:5%;
    background-color:#660033;
    color:whitesmoke;
    border-radius:5%;
}



.recipe {
    font-family: 'Merienda';
    display:flex;
    justify-content:center;
    

}
.recipeview span {
    justify-content: left;
    color:#660033;
    font-weight:700;
}
.recipeview h2{
  justify-content:center;
  text-align:center; 
  font-family: 'Merienda'; 
  color:#660033;
  margin-top:25%;
}
.recipe-recipeview {
    margin:5%;
    padding:2%;
    
    
}

.recipe .dashnav {
    margin-top:0;

}

/*  Add recipe form */
.recipeformadd, .recipe-editpage {
    display:flex; 
    justify-content:center;
}

.add-recipe-form, .update-form {
    margin-top:15%;
    height:75vh;
    width:75vw;
    padding:5%;
    background-color:#bbff99;
    color:#660033;
    border-radius:8%;
    font-family: 'Merienda';  
}

.add-recipe-form h2, .update-form h2 {
    text-align:center;
}
.add-recipe-form input, .update-form input {
    width:50%;
    height:5vh;
    
}
.add-recipe-form input:placeholder-shown {
    color:grey;
}
.add-recipe-form textarea, .update-form textarea{
    width:75%;
    height:10vh;
    margin-top:2%;
}

.add-recipe-form button {
width:26%;
}

/* user recipes */

.user_recipes_nav {
    height:10vh;
    width:100vw;
    margin-bottom:0;
    background-color: #660033;
    display:flex;
    justify-content:center;
    
}

.ur_nav_item{
    width:50%;
    line-height:8vh;
    margin-left:5%;
}

.ur_nav_item a{
    color:white;
    line-height:10vh;
}

.ur_nav_item a:hover{
    color:pink;
}

.recipe-table{
    height:90vh;
    padding:5%;
    margin-top:0;
    color: #660033 ;
    font-family: 'Merienda';
}

.recipe-table h4 {
    justify-content:center;
    text-align:center;
}

.recipe-table table {
    justify-content:center;
    text-align:left;
}

/* edit recipe */
